POSTGRES_DB=noise_map
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=******DB_HOST:5432/noise_map
PORT=3000
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_CALIBRATION_OFFSET=95
